body,
ul,
div,
button,
h1,
h2,
h6,
a,
li,
img,
header,
footer {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #8f9da2; */
    background-color: var(--color-fondo);
    font-family: "Open Sans", sans-serif;
}

/* Logo mediante css para no perder calidad */
header img {
    width: 50px;
}

.icoPerfil {
    display: none;
}

main {
    width: min(1200px, 100%);
    margin: 0 auto;
}

/* Colocacion movil quitando este flex? */
.contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items:stretch;
    width: 100%;
}


.bperfil,
.bsesiones {
    display: block;
    margin: 10px;
    background-color: var(--color-terciario);
    border: 0;
    /* padding: 0 40px; */
    flex-basis: 15%;
    border-radius: 40px;
}

.bperfil {
    display: none;
}

.sesiones {
    display: none;
}

.perfil {
    flex-basis: 80%;
}

.perfil>h1 {
    text-align: center;
    margin: 10% 0;
}

.parte1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parte1 img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.parte1>div {
    /* width: 350px; */
}

.sesiones {
    display: none;
    flex-direction: column;
    align-items: center;
    flex-basis: 80%;
}
.sesiones div{
    width: 80%;
    background-color: var(--color-secundario);
    color: white;
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
}


.noVisible {
    margin-left: 10%;
}

.ajustes {
    display: none;
    position: absolute;
    background-color: inherit;
    right: 2%;
    top: 100px;
    width: 400px;
    height: 400px;
    color: white;
}

.ajustes.mostrar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.ajustes>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ajustes>div>* {
    font-size: var(--mediano);
    margin: 2%;
}

.ajustes>div>a {
    color: white;
}
.crearPortal{
    width: 50%;
    background-color: var(--color-terciario);
    color: white;
    border-radius: 25px;
    border: none;
    font-size: larger;
    padding: 20px 0;
    margin: 20px 0;

}
.formPortal{
    display: none;
    flex-direction: column;
    align-items: center;
}
.formPortal input{
    border-radius: 25px;
    border: 1px solid var(--color-secundario);
    padding: 5px 0;
    width: 60%;
}
.formPortal label{
    margin: 20px 0 10px;
}
.formPortal p{
    font-size:medium;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
}
.formPortal button{
    color: white;
    padding: 5px 10px;
    background-color: var(--color-secundario);
    border: none;
}
.formPortal :last-child{
    background: var(--color-terciario);
    margin: 10px 0;
    color: white;
}