@import url(../../Paleta/paleta.css);
body,ul,div,button,h1,h2,h6,a,li,img,header,footer{margin: 0;padding: 0;}
body{
    /* background-color: #8f9da2; */
    background-color: var(--color-fondo);
    font-family: "Open Sans", sans-serif;
}
/* Logo mediante css para no perder calidad */
.cabecera div{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../../imagenes/imagenLogo2.png);
    background-position: center;
    background-size: 250px;
}
.cabecera{
    /* background-color:#2B2C30; */
    background-color:var(--color-secundario);
    display: flex;
    align-items: center;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
/* boton de abrir menu en movil? */
.hamburgesa{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    padding: 0;
}
/* imagen izquierda */
.cabecera img:last-child{
    width: 50px;
    height: 50px;
}

.hamburgesa::before{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    /* background-color:#BF1B4B; */
    background-color:white;
    /* box-shadow:0 -15px#BF1B4B; */
    box-shadow:0 -14px white;
}
.hamburgesa::after{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    /* background-color: #BF1B4B; */
    background-color: white;
    transform: translateY(10px);
}
main{
    width: min(1200px,100%);
    margin: 0 auto;
}
/* Colocacion movil quitando este flex? */
.contenedor{display: flex;}

/*  */
/*  */

.bperfil,.bsesiones{
    display: block;
    margin: 10px auto;
    background-color: var(--color-terciario);
    border: 0;
    padding: 0 40px;
    border-radius: 40px;

}
.bperfil{display: none;}
.perfil p{align-self: center;}
.perfil :first-child{
    margin: 20px 0;
    text-align: center;
}
.perfil img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
/* imagenPerfil y lateral */
.parte1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.parte1 p{width: 300px;}
/* Listado de sesiones */
/* sesiones cerradas?????? */
.sesiones{
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}
.sesiones li{
    background-color: var(--color-secundario);
    list-style: none;
    color: white;
    margin: 10px;
    padding: 5% 100px;
    text-align: center;
}
.perfil{
    display: flex;
    flex-direction: column;
}
.noVisible{
    margin-left: 10%;
}

/* Información tipica de contactos */
/* .sesiones{display: none;} */
.footer{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
}

.footer :first-child{
    flex: 0 1 100%; 
    text-align: center;
    background-color: var(--color-terciario);
    color: white;
    font-size: 20px;
}
.footer a {
    flex: 0 1 50%;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
    color: var(--color-terciario);
    text-align: center;
}




